/* NAVBAR STYLING */

.nav {
    background-color: #333333;
    color: #9ca9b7;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

.nav .nav-link {
    color: white;
}

.nav .nav-link:hover {
    color: #cecece;
}

.dropdown-item {
    color: black;
}

.nav:hover {
    color: #fff;
}

/* CAROUSEL STYLING */

.carousel-item img{
    max-height: 800px;
    max-width: auto;
}

.carousel-caption {
    background-color: black;
    color: white;
    font-size: 30px;
}

/* HOMEPAGE TEXT */

.card {
    margin: auto;
    margin-top: 10%;
}

/* FOOTER STYLING */

.footer {
    margin-top: 10%;
    width: auto;
    background-color: white;
    text-align: center;
}

/* ABOUT PAGE STYLING */

#aboutimg {
    height: 400px;
    width: 600px;
    padding-left: 50px;
}

/* Locations page styling */

#bristolmap {
    width: 100%;
    height: 400px;
    background-color: grey;
}

